
<link rel="stylesheet" href="/luci-static/ssr/css/ssr.css??v=<%=math.random(1,100000)%>">
<script src="<%=media%>/js/jquery.min.js?v=181"></script>
<script type="text/javascript">
    const SSR_ASSETS = '/luci-static/ssr/';
        function get_state(){
            $.get('<%=url([[admin]], [[services]], [[shadowsocksr]], [[run]])%>',
            function (data) {
                console.log(data);
            }, "json");
        }
        //get_state();
          //<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[shadowsocksr]], [[run]])%>', null,
	function(x, data) {
		var tb = document.getElementById('shadowsocksr_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color=green>ShadowSocksrR Plus+ <%:RUNNING%>&#160;&#160;&#160;&#160;&#160;&#160;&#160;<%:支持 SS/SSR/V2RAY/XRAY/TROJAN/NAIVEPROXY/HYSTERIA/SOCKS5/TUN 等协议%></font></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><font color=red>ShadowSocksrR Plus+ <%:NOT RUNNING%>&#160;&#160;&#160;&#160;&#160;&#160;&#160;<%:支持 SS/SSR/V2RAY/XRAY/TROJAN/NAIVEPROXY/HYSTERIA/SOCKS5/TUN 等协议%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="shadowsocksr_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
